<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kitchen.mapper.UserMapper">

<resultMap type="org.kitchen.domain.UserVO" id="user">
	<id property="userNo" javaType="long" column="u_num" />
</resultMap>
<select id="getList" resultMap="user">
<![CDATA[
select * from tbl_user where u_num>0
]]>
</select>	

	
</mapper>